<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>REACTJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .active{
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="root"></div>
    <p id="detail-redux"></p>
    <script src="public/bundle.js"></script>
</body>
</html>